{% load i18n %}
{% get_available_languages as LANGUAGES %}
<html>
<head>
	<title>{{ title }} </title>
  <link type="text/css" href="/static/css/main.css" rel="stylesheet" />
	
	<link type="text/css" href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" />
	</head>
	<body>
			<script type="text/javascript" src="/static/bootstrap/js/jquery.js"></script> 
			<script type="text/javascript" src="/static/bootstrap/js/bootstrap-tab.js"></script> 
			

    {% block menu %}
    <div class="navbar">
 		<div class="navbar-inner">
    		<div class="container">
    		<ul class="nav">
  				<li class="active">
    				<a href="#">Home</a>
  				</li>
  				<li><a href="#">{% trans "Rates and Reservations" %}</a></li>
  				<li><a href="#">{% trans "Locations" %}</a></li>
  				<li><a href="#">{% trans "Cars" %}</a></li>
  				<li><a href="#">{% trans "Hot Deals" %}</a></li>
  				<li><a href="#">{% trans "Exestings Reservations" %}</a></li>
  				<li>    <form action="/i18n/setlang/" method="post">
      <input name="next" type="hidden" value="/" />
      <select name="language">
        {% for lang in LANGUAGES %}
          <option value="{{ lang.0 }}">{{ lang.1 }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Go" />
    </form>
				</li>
			</ul>
			</div>
  		</div>
	</div>

    {% endblock %}



	{% block content %}
  
	
	<div id="logo"></div>
	<div class="span10">	

        <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#home">{% trans "Start" %}</a></li>
    <li><a href="#cars">{% trans "Choose Car" %}</a></li>
    <li><a href="#payment">{% trans "Payment" %}</a></li>
    <li><a href="#done">{% trans "Care Hired" %}</a></li>
    </ul>
     
    <div id="myTabContent" class="tab-content">
    <div class="tab-pane active" id="home">
    	
    	<div class="span4">
<form class="well" name="start">
    		<label></label>
    		<input type="text" name="dest" value="Search" class="input-large search-search">
    		<label>{% trans "Pickup" %}</label>	
    		<input type="text" name="start" value="20121212"/>
    		<label>{% trans "Drop off" %}</label>
    		<input type="text" name="stop" value="20121212"/>
    		<label></label>
    		<input type="button" class="btn btn-success" name="search" value="Next" onclick="javascript:toCars();"/>
    	</form>
    </div>
    </div>
    <div class="tab-pane" id="cars">
      <form name="cars" class="well">
        <table class="table table-striped">
          <cars>

            

          

          </cars>
        </table>
      </form>


    </div>
    <div class="tab-pane" id="payment">

 <form class="well" name="payment_form">
          <label>{% trans "Drivers Name"%}</label>
          <input type="text" name="name" id='name' value="Name"/>
          <label>{% trans "Name on card"%}</label>
          <input type="text" name="cardname" value="Name"/>
          <label>{% trans "Cardnumber"%}</label>
          <input type="text" name="cardnumber" value="cardnumber"/>
          <label></label>
          <input type="button" value="Next" class="btn btn-success" onclick="javascript:toSummit();">


    </form>
  </div>
       




    <div class="tab-pane" id="done">
      <form class="well">
        <h2>{% trans "You Car</h2>
    <done_car>


    </done_car>
    <h2>{% trans "Your details"%}</h2>
    <h3>{% trans "Private Info"%}</h3>
    <done_dit>
    <b>{% trans "You Name: "%}</b><strong>
    <input type="hidden" id="form_drivername" name="form_drivername" value="Mattias Hemmingsson"/><drivername></drivername></strong>
    <address>
    <b>{% trans "Address: "%}</b>Reavägen 2<br>
    <b>{% trans "Postaddress: "%}</b>174 45 Järfälla<br>
    <b>{% trans "Town: "%}</b>Stockholm<br>
  </address>
    <h3>{% trans "Contact Info"%}</h3>
    <address>
    <b>{% trans "Email: "%}</b>matte@elino.se<br>
    <b>{% trans "Cellphone: "%}</b>070882882828
  </address>
    <h3>{% trans "Payment Info"%}</h3>
    <address>
    <b>{% trans "Card: "%}</b>411111*******<br>
    <b>{% trans "Expire: "%}</b>201203003<br>
  </address>
    </done_dit>
    <input type="submit" class="btn btn-success" value="Book Car"/>
</form>

  </div>
    

    </div>
     
    <script>
  $(function () {
    $('#myTab a').click(function (e) {
  		e.preventDefault();
  		$(this).tab('show');
})
  })

function toCars(){
// Getting input from form
destination = start.dest.value;


var dataString = 'location='+ destination;  
//alert (dataString);return false;  
$.ajax({  
  type: "GET",  
  url: "/system/carstatus",  
  data: dataString,  
  success: function(response) {  
    // Adding content to div
    $("cars").append(response);


    //Changing tab to cars
    $('#myTab a[href="#cars"]').tab('show');

  }  
});  
return false;






}
function chooseCar(div){

  // Append choosen car to done page and mark it
$('car1').css("background-color","red");
$('#myTab a[href="#payment"]').tab('show');
$('car1').clone().appendTo('done_car')

}



function toSummit(){

// Getting drivers name and setting to and tab
var name = $('#name').val();
$('#form_drivername').val(name);
$('drivername').append(name);

//Changing tab
$('#myTab a[href="#done"]').tab('show');


}


</script>
</div>






{% endblock %}

{%block fotter%}
<div id="footer">

</div>

{%endblock%}
</body>
</html>