#logo{
	width:1300px;
	height:700px;
	position:absolute;
	background-image:url('/media/img/cars.jpg');
	background-repeat:no-repeat;
	z-index:-1;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:20px;   /* Height of the footer */
   
}
#cars{
width:70%;

}



#done{
width:100%;

}